<template>
    <p>
        Hola <strong></strong>, este es el curso de Polymer.
    </p>
</template>

<script>
    
    (function (window, document) {
        // lo que hace esto es: seleccionar el template que escribimos a una variable que luego 
        // utilizaremos.
        var documentoImportador = document,
            documentoAImportar = (documentoImportador._currentScript || documentoImportador.currentScript).ownerDocument,
            template = documentoAImportar.querySelector('template').content,
            // Debemos crear el prototipo del elemento
            prototipoDeMiElemento = Object.create(HTMLElement.prototype);
            prototipoDeMiElemento.who = 'Emmanuel';

        prototipoDeMiElemento.createdCallback = function () {
            var shadowRoot = this.createShadowRoot(),
                // Esta funcion se encarga del comportamiento cuando se inserta en el DOM
                clone = documentoImportador.importNode(template, true);
            //Ahora debemos crear el ShadowDOM, mediante un Shadowroot y le agregamos el clone creado.
            shadowRoot.appendChild(clone);
            // Asociamos a la etiqueta que creamos
            this.strong = shadowRoot.querySelector('strong');

            if (this.hasAttribute('who')) {
                var who = this.getAttribute('who');
                this.setWho(this.who);
            } else {
                this.setWho(this.who);
            }
        };

        // Este callback verá cuando cambio un atributo.
        prototipoDeMiElemento.attributeChangedCallback = function (attr, oldValue, newValue) {
            // Verificamos si el atributo es el mismo y si cambió, le seteamos la propiedad necesaria
            if (attr === 'who') {
                this.setWho(newValue);
            }
        };

        // Función para setear el valor.
        prototipoDeMiElemento.setWho = function (value) {
            this.who = value;
            this.strong.textContent = this.who;
        };

        //Solo nos queda registrar el elemento. 
        window.miElemento = documentoImportador.registerElement('curso-polymer', {
            prototype: prototipoDeMiElemento
        });


    })(window, document);
</script>