<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-map">
  <template>
    <style include="shared-styles">
        :host {
            display: block;
            padding: 10px;
            
        }
        .container {
            display: grid;
            grid-template-rows: repeat(3, 50px) 1fr;  
            grid-template-columns: 1fr;
        }
        .news-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
            grid-template-rows: 1fr;
            grid-gap: 50px;
        }
        .news-title{
            padding-left: 50px;
            text-align: center;
        }
        .news-description {
            padding-left: 50px;
            text-align: center;
        }
        .card {
            text-align: center;
        }
    </style>

    <div class="container">
        <h1 class="news-title">NEWS</h1>
        <p class="news-description">
            This is the news Section. It will be dynamically updated, but just now that feature is not activated, 
            which means that the news are filled with static content. 
        </p> 
        <section class="news-container">
            <!-- Repeat this following Code -->      
            <div class="card">
                <h2>Polymer News Title</h2>
                <figure>
                    <img src="../images/manifest/icon-192x192.png" alt="Polymer Product Image">
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sem eget varius facilisis. 
                    Aliquam mattis nisl eu sem cursus venenatis eu in tortor. 
                </p>
            </div>
            <!-- Repeat this following Code -->      
            <div class="card">
                <h2>Polymer Product Title</h2>
                <figure>
                    <img src="../images/manifest/icon-192x192.png" alt="Polymer Product Image">
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sem eget varius facilisis. 
                    Aliquam mattis nisl eu sem cursus venenatis eu in tortor. 
                </p>
            </div>
            <div class="card">
                <h2>Polymer Product Title</h2>
                <figure>
                    <img src="../images/manifest/icon-192x192.png" alt="Polymer Product Image">
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sem eget varius facilisis. 
                    Aliquam mattis nisl eu sem cursus venenatis eu in tortor. 
                </p>
            </div>
        </section>   
    </div>
  </template>

  <script>
    class MyMap extends Polymer.Element {
      static get is() { return 'my-map'; }
    }

    window.customElements.define(MyMap.is, MyMap);
  </script>
</dom-module>