//Default Theme

/* $mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E; */

//Dark Theme

$mdc-theme-primary: #FFCF44;
$mdc-theme-on-primary: #33333D;
$mdc-theme-secondary: #FFCF44;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: #33333D;
$mdc-theme-on-surface: #FFFFFF;
$mdc-theme-background: #33333D;
$mdc-theme-on-background: #FFFFFF;