@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";

.home {
    display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
    background-color: $mdc-theme-background;
    color: $mdc-theme-on-background;    
}
.shrine-logo-drawer {
    display: block;
    width: 48px;
    padding: 40px 0 0;
    margin: 0 auto;
    fill: currentColor;
}

.shrine-title {
    @include mdc-typography(headline6);
    text-align: center;
    margin: 5px auto;
}
.product-list {
    @include mdc-image-list-masonry-columns(4);
    overflow: auto;
    .mdc-image-list__supporting {
        justify-content: center;
        background-color: $mdc-theme-surface;
        border-radius: 0 0 10px 10px;
    }
    
    .mdc-image-list__item {
        padding: 10px;
    }
    
    .mdc-image-list__label {
        @include mdc-typography(subtitle2);
    }
    .mdc-image-list__image{
        border-radius: 10px 10px 0 0;
    }
    padding: 40px 50px 0;
}
.shrine-drawer {
    @include mdc-drawer-fill-color-accessible(surface);
    /* @include mdc-drawer-fill-color-accessible(primary); */
    // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
    @include mdc-drawer-z-index(0);
    border-right-width: 0;

    text-transform: uppercase;

    .mdc-list {
        margin: 70px 5px auto 5px;
    }

    .mdc-list-item {
        border-radius: 6px;
        justify-content: center;
    }

    // This needs 3-class specificity to override MDC Drawer styles
    .mdc-list .mdc-list-item {
        @include mdc-states-activated(#fff);
    }
}
.shrine-select-item-divider {
    @include mdc-theme-prop(border-bottom-color, primary);
    display: block;
    border-bottom-color: #EAA4A4;
    border-bottom-width: 2px;
    width: 50px;
    position: relative;
    top: -8px;
}
  
// This needs 2-class specificity to override MDC Drawer styles
.shrine-drawer .shrine-select-item-divider {
    margin: 0 auto;
}
.shrine-body {
    /* @include mdc-elevation(4); */

    display: block;
    overflow: auto;
    z-index: 0; // Elevate over the drawer
}